:root {
    --animation-duration: 300ms;
    --main-outer-bgcolor: #fff;
    --main-offcolor: red;
}

$animationDuration: var(--animation-duration);
$mainOuterBgcolor: var(--main-outer-bgcolor);
$mainOffColor: var(--main-offcolor);